<h1>
  order-add works!
</h1>

<button type="button" class="btn btn-primary" (click)="open(template)">Create template modal</button>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal at Order Address</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <h5>This is a modal.{{myApp}}</h5>
    <div class="form-group">

      <!-- <input type="text" [(ngModel)]="myApp" name="name" class="form-control"> -->
    </div>
  </div>
</ng-template>
