.main-panel{
    margin-left: 20%;
   }
   .table-responsive{
    margin: 10px;
}
   @media only screen and (max-width: 768px) {
    .main-panel{
        margin-left: 0px;
        width: 100%;
       }  
    .table-responsive{
        width: 100%;
    }
}