
<div class="main-panel" >
  <div class="my-container">
      <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
    </div>
  <div class="content-wrapper">
    <div class="card">
      <div class="card-body">
        <div class="row">
       <div class="col-3"> <h4 class="card-title" style="color:#131e42">Manage Companies</h4></div>
      <div class="col-3"> <button (click)="createCompany()" type="button" class="btn  block">
          Create Company</button></div>

        </div>
        <div class="row">
          <div class="col-12 table-responsive">
            <table id="mydatatable" class="table table-striped">
              <thead style="background: #87ceeb">
                  <tr >
                      <th >CompanyId</th>
                      <th >Company Name</th>
                      <th >Email-ID</th>
                      <th >Phone</th>
                      <th >Contact Person</th> 
                      <th >Manage Company</th>
                     </tr>
              </thead>
              <tbody *ngIf="companies">
                  <tr *ngFor="let myList of companies; let i = index" [attr.data-index]="i" >
                      <td >{{myList.companyId}}</td>
                       <td ><a (click)="showCompany(myList)" 
                          style="background: transparent;cursor: pointer;"  data-toggle="modal" data-target="#myModal2">
                         {{myList.companyName}}</a></td>
                       <td >{{myList.email}}</td>
                       <td >{{myList.contactPhone}}</td>
                       <td >{{myList.contactPersonName}}</td>
                       <td >
                        <button (click)="updateCompany(i)" type="button" 
                        class="btn btn-primary block" >Update</button>
                        
                           <button  type="button"  [disabled]="true"
                         class="btn btn-danger block"  (click)="delete(data)" data-toggle="modal"
                          data-target="#myModal1" >
                           Delete</button>
                           <button (click) = "integration(data.companyId)" 
                           type="button" class="btn btn-success block" [disabled]="true"
                          >Integration</button>
                       </td>
                   </tr>
              </tbody>
            </table>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <!-- content-wrapper ends -->
  
</div>

<!-- Modal Window1 start-->
  <!-- <div class="modal" id="myModal1">
   <div class="modal-dialog">
     <div class="modal-content">
     
       
       <div class="modal-header" >
         <h4 class="modal-title">Confirm Delete?</h4>
         <button type="button" class="close" data-dismiss="modal">&times;</button>
       </div>
       
    
       <div class="modal-body">
        <div *ngIf="dCompany">
           <h5>CompanyId:{{dCompany.companyId}}</h5>
         <h5>Company Name:{{dCompany.companyName}}</h5>
         <h5>Email:{{dCompany.email}}</h5>
         <h5>Contact Phone:{{dCompany.contactPhone}}</h5>
         <h5>Contact Person Name:{{dCompany.contactPersonName}}</h5>
        
       </div>
       <div class="row">
          <div class="col-sm-6"> <button type="button" class="btn btn-danger" data-dismiss="modal" 
            (click)="confirmDelete()">Confirm Delete</button></div>
        <div class="col-sm-6">  <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button></div>
        </div>
        
       </div>
        
       <div class="modal-footer row">
        
       </div>
       
     </div>
   </div>
 </div>  -->
 <!-- Modal Window End -->


  <!-- Modal Window 2 start-->
  <!-- <div class="modal" id="myModal2" >
      <div class="modal-dialog">
        <div class="modal-content">
        
        
          <div class="modal-header" style="background-color: #d4edf2;">
            <h4 class="modal-title">Details of Company</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          
          
          <div class="modal-body">
           <div *ngIf="sCompany">
            <h5>CompanyId:{{sCompany.companyId}}</h5>
            <h5>Company Name:{{sCompany.companyName}}</h5>
            <h5>Email:{{sCompany.email}}</h5>
            <h5>Phone:{{sCompany.phone}}</h5>
            
            <h5>Contact Person Name:{{sCompany.contactPersonName}}</h5>
            <h5>Contact Phone:{{sCompany.contactPhone}}</h5>
            <h5>City:{{sCompany.city}}</h5>
            <h5>State:{{sCompany.state}}</h5>
            <h5>Country:{{sCompany.country}}</h5>
            <h5>Contact Email:{{sCompany.contactEmail}}</h5>
            <h5>AcivatedTill:{{sCompany.activatedTill}}</h5>
            <h5>Is Activated:{{sCompany.isActivated}}</h5>
            <h5>Company Type:{{sCompany.companyType}}</h5>
            <h5>Logo Path:{{sCompany.logopath}}</h5>
           
          </div>
          
        
          <div class="modal-footer row">
              <div>  <button type="button" class="btn btn-primary" style="width:100%;" data-dismiss="modal">Close</button></div>
            </div>
          </div>
          
        </div>
      </div>
</div> -->

  