<!-- <h1>
  Retail App
</h1>
<button type="button" class="btn btn-primary" (click)="open(template)">Create template modal</button>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    This is a modal.
  </div>
</ng-template>
<br><br>
<button routerLink="/customers" (click)="customer_page()" class="btn btn-primary">Customers</button>&nbsp;
<button routerLink="/orders" (click)="order_page()">Orders</button>&nbsp;
<button routerLink="">Home</button>&nbsp; -->

<router-outlet></router-outlet>