@media only screen and (max-width: 768px) {
    .main-panel{
        margin-left: 0px;
        width: 100%;
       }  
    .table-responsive{
        width: 100%;
    }
}
.main-panel{
    margin-left: 20%;
   }
   .card{
    background:#87ceeb;
    color: #131e42;
    box-shadow:1px 1px 1px 1px #cccccc;
    
   }
   
.card.card-body {
    flex: 1 1 auto;
    padding: 1.25rem; }
 .card .card-body  a{
       cursor: pointer;
       color: #131e42;
   }
   .card .card-body  a:hover{
    cursor: pointer;
    text-decoration: underline;
}

.text-muted{
    color: #ffffff;
}
